<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Page For <%= authorData.name %></title>
</head>
<body>
  <header>
    <h1>Show Page For <%= authorData.name %></h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/authors">Authors Index</a>
        </li>
      </ul>
    </nav>
  </header>


  <main>
    <section>
      <h2>Author Attributes</h2>

      <ul>
        <li>
          Name: <%= authorData.name %>
        </li>
        <li>
          Created On: <%= authorData.createdAt %>
        </li>
      </ul>

      <form action="/authors/<%= authorData._id %>?_method=DELETE" method="POST">

        <button type="submit">Delete</button>

      </form>

      <a href="/authors/<%= authorData._id %>/edit">
        <button>Edit</button>
      </a>

    </section>
  </main>

</body>
</html>
